#ignore Mac system files
.DS_store

#ignore compiled bytecode
*.pyc

#ignore test profile pics
/default_profile_pic.jpeg
/test_photo.jpeg
/test_photo2.jpg

#ignore dummy posts
/posts.json

#ignore database
db.sqlite3