[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
django-tables2 = "*"
django-tailwind = "*"
crispy-tailwind = "*"
django-microsoft-authentication = "*"

[dev-packages]

[requires]
python_version = "3.10"
