<!-- display the form for the meta-information regarding data consolidation -->

{% extends "table/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="content-section">
        <h2>Enter Data Consolidation Preferences</h2>
        {% if submitted %}
            it submitted
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}

                {{ form | crispy }}

                <a class="dealer-link" href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 1
                </a>
                <a class="dealer-link" href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 2
                </a>
                <a class="dealer-link" href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 3
                </a>
                <a class="dealer-link" href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 4
                </a>
                <br></br>
                <input type="submit" value="Process" class="btn-pink">
                
            </form>
            
        {% endif %}
    </div>
{% endblock content %}