{% extends "table/base.html" %}
{% block content %}
    <div class="content-section">
        <h1>Table Entry!</h1>
        {% if submitted %}
            it submitted
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <a href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 1 &nbsp &nbsp &nbsp &nbsp &nbsp
                </a>
                <a href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 2 &nbsp &nbsp &nbsp &nbsp &nbsp
                </a>
                <a href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 3 &nbsp &nbsp &nbsp &nbsp &nbsp
                </a>
                <a href="https://skpgroup-my.sharepoint.com/personal/shmalve_skpgroup_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshmalve%5Fskpgroup%5Fcom%2FDocuments%2FDCT%20Web%20App&ct=1662059103768&or=Teams%2DHL&ga=1">
                    Dealer 4
                </a>
                <br></br>
                <input type="submit" value="Run Python Scripts" class="btn btn-secondary">
                
            </form>
            
        {% endif %}
    </div>
{% endblock content %}